*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content{
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(image/Banner\ Image.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.main h4{
    color: white;
    text-align: center;
    padding-top: 220px;
    font-weight: bold;
    font-size: 20px;
}

.main h1{
    font-size: 70px;
    color: white;
    text-align: center;
    padding-top: 10px;

    
}
.container{
    text-align: center;
    padding: 50px;
    width: 100%;
    
    
}
.container h1{
    font-size: 60px;
    font-weight: bold;
    color: rgb(248, 28, 28);
    padding: 20px;
}
.container p{
    color: rgb(248, 28, 28);
}
.container h2{
    letter-spacing: 1px;
    padding: 5px;
}
.container img{
    width: 60%;
    height: 80vh;
}


.third{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)),url(image/Vectorrr.png);
    
    margin-left: 60px;
    width: 90%;
    height: 70vh;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    color: white;
    
}
.images{
    float: right;
    margin-right: 190px;
    margin-top: 90px;
    width: 180px;
    opacity: 85%;
    

}
.thirdd{
    width: 700px;
    padding: 100px;
    margin-bottom: 20px;
    
}

.thirdd h1{
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 2px;
}
.thirdd p{
    font-size: 15px;
    margin-top: 5px;
}
.thirdd button{
    padding: 10px 20px;
    font-weight: bold;
    margin-top: 10px;
    background-color: rgb(235, 196, 71);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.fourth{
    width: 90%;
    height: 60vh;
    background-color: rgba(223, 140, 171, 0.438);
    border: 1px solid black;
    border: none;
    margin-left: 60px;
    margin-top: 60px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.date p{
    text-align: center;
    font-size: 18px;
    font-weight: bold;

    
}
span{
    color: red;
}
.date button{
    padding: 10px 20px;
    font-weight: bold;
    margin-top: 10px;
    background-color: rgb(248, 6, 6);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 90px;
}
.select{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 70px;
}
.select-1 h2{
    font-size: 35px;
    font-weight: bold;    
}
.select-1 h4{
    color: rgb(248, 6, 6);
}
.select-1 p{
    opacity: 90%;
    font-size: 13px;
}

.select-image{
    border: 6px solid  rgb(248, 6, 6);
    padding: 14px;
    border-radius: 50%;
    
}
.select-image img{
    width: 250px;
    height: 250px;
}
.new h2{
    color: rgb(248, 6, 6);
    font-size: 40px;
}
.peragraph1{
    opacity: 90%;
    font-size: 13px;
    padding: 8px 0;
}
.new img{
    width: 100px;
    height: 100px;
}

.reading{
    
    background-repeat: no-repeat;
    background-position: bottom;
}
.gift-box{
    background-image: url(image/Group\ 75.png);
}
.shopping{
    padding: 50px;
    width: 100%;
    height: 750px;
    cursor: pointer;
    

}
.best{
    padding: 10px;
}
.shop img{
    width: 33%;
    height: 280px;
    padding: 8px;
}
.shopping h3{
    color: rgb(248, 6, 6);
}
.shopping p{
    font-size: 13px;
    padding: 3px;
}
.message{
    width: 90%;
    height: 60vh;
    background-color: rgba(197, 144, 164, 0.438);
    border: 1px solid black;
    border: none;
    border-radius: 5px;
    margin-left: 60px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   
}
p{
    font-size: 15px;
    letter-spacing: 1px;
    padding-bottom: 8px;
}
.messages img{
    width: 100px;
    height: 100px;
}
form{
    position: relative;
    margin-right: 70px;

}
input{
    padding: 15px;
    border: none;
    width: 300px;
    border-radius:25px 0 0 25px;
    
}
form .btn{
    position: absolute;
    border: none;
    padding: 15px;
    background: rgb(248, 6, 6);
    color: black;
    top: 0;
    bottom: 0;
    border-radius:0 25px 25px 0 ;
}









